h2{
    position: relative;
    font-size: rem;
    font-family:sans-serif;
    -webkit-text-stroke: 0.2vw #383d52;
    text-transform: uppercase;
}
h2::before
{
    content: attr(data-text);
    position:absolute;
    top:0;
    left:0;
    width:0;
    height: 100%;
   background:linear-gradient(aqua,red);
   color:red;
    -webkit-text-stroke: 0.2vw #383d52;
    border-right:2px solid #4fed51;
    overflow:hidden;
animation:animate 6s linear infinite;
-webkit-animation:animate 6s linear infinite ;
}
@keyframes animate{
    0%{
        width:0;
    }
    70%{
        width:100%;
    }
}